* {
  margin: 0;
  padding: 0; }

a {
  cursor: url(../imagenes/cursor-click.png), auto; }

::-webkit-scrollbar {
  width: 1em; }

::-webkit-scrollbar-track {
  background: #050920;
  border-radius: 100vh;
  margin-block: .5em; }

::-webkit-scrollbar-thumb {
  background: #603a99;
  border-radius: 100vh;
  border: .25em solid #482c74; }
  ::-webkit-scrollbar-thumb:hover {
    background: #7647bd; }

.body {
  background-image: url("../imagenes/sg-fondo.jpg");
  background-repeat: no-repeat;
  background-color: #00011F;
  cursor: url(../imagenes/cursor.png), auto; }

.borde {
  border: 3px solid #B2B7D2; }

.header {
  background-image: url(../imagenes/fondo-header.png); }

.header__titulo, .teamTitulo {
  font-family: 'Spectral SC', serif;
  color: #B2B7D2;
  letter-spacing: 10px; }

.nav {
  background-color: rgba(255, 255, 255, 0.05);
  border: 4px solid #121555; }

.nav__enlaces {
  font-family: 'Radley', serif;
  color: #B2B7D2;
  transition: color 1s, transform 1s; }
  .nav__enlaces:hover {
    color: rgba(220, 174, 247, 0.952);
    transform: scale(1.1); }

.divisor {
  overflow: hidden; }

.bienvTitulo {
  font-family: 'Radley', serif;
  color: #B2B7D2;
  letter-spacing: 6px; }

.bienvTexto {
  color: #B2B7D2;
  font-family: 'Radley', serif; }

.colorVioleta {
  color: #8852DE; }

.contenedor-bienv {
  background: rgba(89, 86, 210, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px; }

.guardianaText {
  color: #B2B7D2; }

@media screen and (min-width: 0px) and (max-width: 576px) {
  .index__img__pc {
    display: none; }
  .index__img__mobile {
    display: unset;
    border: 3px solid #B2B7D2; }
  .index__img__tablet {
    display: none; } }

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .index__img__pc {
    display: none; }
  .index__img__mobile {
    display: none; }
  .index__img__tablet {
    display: unset;
    border: 3px solid #B2B7D2; } }

@media screen and (min-width: 1201px) {
  .index__img__pc {
    display: unset;
    border: 3px solid #B2B7D2; }
  .index__img__mobile {
    display: none; }
  .index__img__tablet {
    display: none; } }

.footer {
  color: #979dbb;
  font-size: 13px;
  border-top: 1px solid #121555;
  border-bottom: 1px solid #121555;
  background-color: #0a0c2b; }

.teamTitulo {
  text-transform: uppercase;
  padding: 60px;
  background-image: url(../imagenes/headerfondo.jpg);
  letter-spacing: 5px; }

.texto__header {
  font-family: 'Radley', serif;
  color: #D1CAF3;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #B2B7D2; }

.img__guardiana {
  border: 2px solid #B2B7D2;
  margin-bottom: 0.5rem;
  transition: background-color 1s, padding 1s; }
  .img__guardiana:hover {
    background-color: #949fff96;
    padding: 0.5rem; }

.nombre__guardiana {
  text-decoration: none;
  color: #D1CAF3;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  border: 5px solid rgba(255, 255, 255, 0.05);
  transition: background-color 1s, padding 1s; }
  .nombre__guardiana:hover {
    background-color: #222b7c96;
    padding: 0.5rem; }

.titulo__header__personajes {
  font-family: 'Spectral SC', serif;
  color: #C994FF;
  border: 4px solid #121555;
  text-transform: uppercase;
  letter-spacing: 6px;
  background-image: url(../imagenes/nombres-fondo.png); }

.estrella__nombres {
  height: 40px;
  width: 40px; }

.titulos__personajes {
  font-family: 'Radley', serif;
  text-align: center;
  color: #B2B7D2;
  border: #21257e 1px solid; }

.textos__personajes {
  text-align: justify;
  font-size: 1.8rem;
  word-spacing: 1px;
  font-family: 'Radley', serif;
  color: #B2B7D2;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem; }

.frase__personajes {
  font-family: 'Radley', serif;
  color: #B2B7D2;
  background-color: rgba(255, 255, 255, 0.05);
  border: 3px solid #B2B7D2; }

.personajes__fraseGif {
  background-color: rgba(255, 255, 255, 0.05); }

.star__violet {
  width: 2rem;
  padding-bottom: 5px; }

.fdp__img {
  width: 700px;
  border: 2px solid #B2B7D2;
  margin-bottom: 0.5rem; }

.titulos__galeria, .titulos__videos, .texto__fdp {
  font-family: 'Radley', serif;
  color: #B2B7D2;
  background-color: rgba(255, 255, 255, 0.05); }

.titulos__videos, .texto__fdp {
  font-family: Arial, Helvetica, sans-serif; }

.starfall {
  border: 9px solid #B2B7D2;
  height: 25rem;
  background-image: url(../imagenes/starfall.jpg); }

.pijama {
  border: 9px solid #B2B7D2;
  height: 25rem;
  background-image: url(../imagenes/pijama.jpg); }

.texto__historias {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: 'Radley', serif; }

.enlaces-h {
  text-decoration: none; }

.borde1, .borde2 {
  border-top: 1px solid #B2B7D2; }

.borde2 {
  border-bottom: 1px solid #B2B7D2; }

.texto__rosa {
  color: #ff02a6; }

.nombre__capitulo {
  color: #fff; }

.texto__capitulos {
  color: #B2B7D2; }

.pagination li {
  margin-left: .25rem;
  margin-right: .25rem; }

.pagination li .page-link {
  border-radius: .25rem;
  border: none;
  min-width: 2.25rem;
  text-align: center;
  color: white;
  background-color: #603a99; }

.pagination li.disabled .page-link {
  color: white;
  background-color: #603a99; }

.pagination li.active .page-link,
.pagination li .page-link:hover {
  background-color: #8a66c0;
  color: white;
  font-weight: bold; }
