* {
    margin: 0;
    padding: 0;
}

.body{
    background-image: $fondo;
}

.borde{
    border: $borde;
}

@mixin fondotext ($color,$background-color){
    color: $color;
    background-color: $background-color;
}