* {
    margin: 0;
    padding: 0;
}

a{
    cursor: url(../imagenes/cursor-click.png), auto;
}

::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #050920;
    border-radius: 100vh;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: #603a99;
    border-radius: 100vh;
    border: .25em solid #482c74;
    &:hover{
        background: #7647bd;
    }
}

.body {
    background-image: $fondo;
    background-repeat: no-repeat;
    background-color: #00011F;
    cursor: url(../imagenes/cursor.png), auto;
}


.borde {
    border: $borde;
}

@mixin fondotext ($color, $background-color) {
    color: $color;
    background-color: $background-color;
}