$estilos: (border:9px solid $colorBlanco, height:25rem, fondo1:url(../imagenes/starfall.jpg), fondo2:url(../imagenes/pijama.jpg));

.starfall {
    border: map-get($map: $estilos, $key:border);
    height: map-get($map: $estilos, $key:height);
    background-image: map-get($map: $estilos, $key:fondo1);

    &:hover {
        border: 9px solid #321e50;
    }

    &:hover .borde1{
        border-top: 3px solid #321e50;
    }

    &:hover .borde2{
        border-bottom: 3px solid #321e50;
    }
}

.pijama {
    border: map-get($map: $estilos, $key:border);
    height: map-get($map: $estilos, $key:height);
    background-image: map-get($map: $estilos, $key:fondo2);

    &:hover {
        border: 9px solid #439179;
    }

    &:hover .borde1{
        border-top: 3px solid #439179;
    }

    &:hover .borde2{
        border-bottom: 3px solid #439179;
    }
}