.texto__historias{
    @include fondotext (white,$fondotransparente);
    font-family: 'Radley', serif;
}

.enlaces-h{
    text-decoration: none;
}

.borde1{
    border-top: 1px solid $colorBlanco;
}

.borde2{
    @extend .borde1;
    border-bottom: 1px solid $colorBlanco;
}
