.textos__ahri{
    text-align: justify;
    font-size: 1.8rem;
    word-spacing: 1px;
    font-family: 'Radley', serif;
    @include fondotext ($colorBlanco,$fondotransparente);
    padding: 1rem;
}

.frase__ahri{
    font-family: 'Radley', serif;
    @include fondotext ($colorBlanco,$fondotransparente);
    border: $borde;
}