.titulo__header__personajes {
    font-family: 'Spectral SC', serif;
    color: #C994FF;
    border: 4px solid #121555;
    text-transform: uppercase;
    letter-spacing: 6px;
    background-image: url(../imagenes/nombres-fondo.png);
}

.estrella__nombres {
    height: 40px;
    width: 40px;
}

.titulos__personajes{
    font-family: 'Radley', serif;
    text-align: center;
    color: $colorBlanco;
    border: #21257e 1px solid;
}