.nav {
    background-color: hsla(0, 0%, 100%, .05);
    border: 4px solid #121555;
}

.nav__enlaces {
    font-family: 'Radley', serif;
    color: $colorBlanco;
    transition: color 1s, transform 1s;

    &:hover {
        color: rgba(220, 174, 247, 0.952);
        transform: scale(1.1);
    }
}