.img__guardiana {
    border: 2px solid #B2B7D2;
    margin-bottom: 0.5rem;
    transition: background-color 1s, padding 1s;

    &:hover {
        background-color: #949fff96;
        padding: 0.5rem;
    }
}

.nombre__guardiana {
    text-decoration: none;
    color: #D1CAF3;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: hsla(0, 0%, 100%, .05);
    border: 5px solid hsla(0, 0%, 100%, .05);
    transition: background-color 1s, padding 1s;

    &:hover{
        background-color: #222b7c96;
        padding: 0.5rem;
    }
}